<main class="flex flex-col ml-48 self-center mt-16 pb-16 w-full max-w-[1256px] max-md:mt-10 max-md:max-w-full">
  <header class="flex gap-3.5 self-start">
    <img
      src="https://api.builder.io/api/v1/image/assets/TEMP/a2c214fc5ad90d019c67cc350eaa8b5e4005560c?placeholderIfAbsent=true&apiKey=ac04cd396e1f47f18955cd19640f183d"
      alt="GRI Economic icon"
      class="object-contain shrink-0 my-auto rounded-full aspect-[1.04] w-[58px]"
    />
    <div class="flex flex-col">
      <h2 class="text-4xl font-semibold text-black">
        GRI Economic
      </h2>
      <p class="self-center text-xl font-medium leading-none text-center text-gray-500">
        Economic Performance - Revenue & Expenses
      </p>
    </div>
  </header>

  <section class="flex flex-col items-start self-end px-20 py-14 mt-16 w-full bg-white rounded-2xl shadow-2xl max-w-[1168px] max-md:px-5 max-md:mt-10 max-md:max-w-full">
    <h3 class="text-3xl font-semibold text-center text-teal-700">
      GRI 201-1: Direct economic value generated and distributed
    </h3>
    <p class="mt-6 text-xl leading-none text-gray-500 max-md:max-w-full">
      Complete the following data for the revenue and expenses report for {{reporting_period}}.
    </p>

    <form action="/umkm/gri-2" method="POST" class="z-10 mt-14 max-w-full w-[1057px] max-md:mt-10">
      <input type="hidden" name="gri_id" value="{{gri_id}}" />
      <!-- Revenue Section -->
      <div class="w-full text-base max-md:mt-10 max-md:max-w-full">
  <h4 class="text-2xl font-semibold text-teal-700">
    A. Revenue
  </h4>

  <div class="flex gap-4 items-center px-4 py-3 mt-6">
    <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Total revenue during this period
            </label>
            <input
              type="number"
      id="revenue"
      name="revenue"
      value="{{#if record}}{{record.revenue}}{{/if}}"
              placeholder="Enter total revenue"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="revenue_notes"
              name="revenue_notes"
              value="{{#if record}}{{record.revenue_notes}}{{/if}}"
              placeholder="Notes (optional)"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-4/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Upload Document
            </label>
            <input
              type="file"
              id="revenue_files"
              name="revenue_files"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
  </div>
</div>


<!-- Revenue Type Selection -->
<div class="w-full mt-6">
  <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
    Type of Revenue
  </label>

          <!-- General & Administrative Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              1. Net Sales (Sales from products and services minus discounts, returns, and allowances)
            </label>
            <input
              type="number"
              id="net_sales"
              name="net_sales"
              value="{{#if record}}{{record.net_sales}}{{/if}}"
              placeholder="Input total net sales amount"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="net_sales_notes"
              name="net_sales_notes"
              value="{{#if record}}{{record.net_sales_notes}}{{/if}}"
              placeholder="Notes (optional)"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Salary Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              2. Sales (Calculated as gross sales from products and services minus discounts, returns, and allowances.)
            </label>
            <input
              type="number"
              id="sales"
              name="sales"
              value="{{#if record}}{{record.sales}}{{/if}}"
              placeholder="Input total sales amount"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="sales_notes"
              name="sales_notes"
              value="{{#if record}}{{record.sales_notes}}{{/if}}"
              placeholder="Notes (optional)"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Transportation Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              3. Financial Investment Income (Interest from financial loans, dividends from stock ownership, royalties, income directly derived from assets such as property rentals.)
            </label>
            <input
              type="number"
              id="financial_investment_income"
              name="financial_investment_income"
              value="{{#if record}}{{record.financial_investment_income}}{{/if}}"
              placeholder="Input total financial investment income"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="financial_investment_income_notes"
              name="financial_investment_income_notes"
              value="{{#if record}}{{record.financial_investment_income_notes}}{{/if}}"
              placeholder="Notes (optional)"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              4. Income from Asset Sales (Revenue from physical assets like property and intangible assets like intellectual property rights.)
            </label>
            <input
              type="number"
              id="asset_sales_income"
              name="asset_sales_income"
              value="{{#if record}}{{record.asset_sales_income}}{{/if}}"
              placeholder="Input total asset sales income"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="asset_sales_income_notes"
              name="asset_sales_income_notes"
              value="{{#if record}}{{record.asset_sales_income_notes}}{{/if}}"
              placeholder="Notes (optional)"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

</div>




      <!-- Pengeluaran Section -->
      <div class="w-full text-base max-md:mt-10 max-md:max-w-full">
        <h4 class="text-2xl font-semibold text-teal-700 mt-10">
          B. Expenses
        </h4>

        <!-- General & Administrative Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              1. General & Administrative Expenses (General and Administrative Costs)
            </label>
            <input
              type="number"
              id="general_admin_expenses"
              name="general_admin_expenses"
              value="{{#if record}}{{record.general_admin_expenses}}{{/if}}"
              placeholder="Enter general administrative expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="general_admin_notes"
              name="general_admin_notes"
              value="{{#if record}}{{record.general_admin_notes}}{{/if}}"
              placeholder="Notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Salary Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              2. Salary Expenses (Wages and Salaries)
            </label>
            <input
              type="number"
              id="salary_expenses"
              name="salary_expenses"
              value="{{#if record}}{{record.salary_expenses}}{{/if}}"
              placeholder="Enter salary expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="salary_employee_notes"
              name="salary_employee_notes"
              value="{{#if record}}{{record.salary_employee_notes}}{{/if}}"
              placeholder="Notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Transportation Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              3. Transportation Expenses
            </label>
            <input
              type="number"
              id="transport_expenses"
              name="transport_expenses"
              value="{{#if record}}{{record.transport_expenses}}{{/if}}"
              placeholder="Input transportation expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="transport_notes"
              name="transport_notes"
              value="{{#if record}}{{record.transport_notes}}{{/if}}"
              placeholder="Notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Fuel & Electricity Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-1/2">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              4. Fuel & Electricity Expenses 
            </label>
            <input
              type="number"
              id="fuel_expenses"
              name="fuel_expenses"
              value="{{#if record}}{{record.fuel_expenses}}{{/if}}"
              placeholder="Input fuel expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          
            <input
              type="text"
              id="fuel_notes"
              name="fuel_notes"
              value="{{#if record}}{{record.fuel_notes}}{{/if}}"
              placeholder="Input fuel notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/2 mt-8">
            <input
              type="number"
              id="electricity_expenses"
              name="electricity_expenses"
              value="{{#if record}}{{record.electricity_expenses}}{{/if}}"
              placeholder="Input electricity expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
           
            <input
              type="text"
              id="electricity_notes"
              name="electricity_notes"
              value="{{#if record}}{{record.electricity_notes}}{{/if}}"
              placeholder="Input electricity notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Internet, Telephone & Water Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <!-- Internet Expense -->
          <div class="flex-1">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              5. Internet, Telephone & Water Expenses (Internet)
            </label>
            <input
              type="number"
              id="internet_expenses"
              name="internet_expenses"
              value="{{#if record}}{{record.internet_expenses}}{{/if}}"
              placeholder="Input internet expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="internet_notes"
              name="internet_notes"
              value="{{#if record}}{{record.internet_notes}}{{/if}}"
              placeholder="Input internet notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <!-- Telephone Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              (Telepon)
            </label>
            <input
              type="text"
              id="telephone_expenses"
              name="telephone_expenses"
              value="{{#if record}}{{record.telephone_expenses}}{{/if}}"
              placeholder="Input telephone expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="telephone_notes"
              name="telephone_notes"
              value="{{#if record}}{{record.telephone_notes}}{{/if}}"
              placeholder="Input telephone notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <!-- Water Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              (Air)
            </label>
            <input
              type="number"
              id="water_expenses"
              name="water_expenses"
              value="{{#if record}}{{record.water_expenses}}{{/if}}"
              placeholder="Input water expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="water_notes"
              name="water_notes"
              value="{{#if record}}{{record.water_notes}}{{/if}}"
              placeholder="Input water notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>


        <!-- Property Rental Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              6. Property Rental Expenses 
            </label>
            <input
              type="number"
              id="property_rental_expenses"
              name="property_rental_expenses"
              value="{{#if record}}{{record.property_rental_expenses}}{{/if}}"
              placeholder="Enter property rental expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="property_rental_notes"
              name="property_rental_notes"
              value="{{#if record}}{{record.property_rental_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- License Fees -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              7. License Fees
            </label>
            <input
              type="number"
              id="license_fees"
              name="license_fees"
              value="{{#if record}}{{record.license_fees}}{{/if}}"
              placeholder="Enter license fees"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="license_fees_notes"
              name="license_fees_notes"
              value="{{#if record}}{{record.license_fees_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Facility Payments -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              8. Facility Payments  
            </label>
            <input
              type="number"
              id="facility_payments"
              name="facility_payments"
              value="{{#if record}}{{record.facility_payments}}{{/if}}"
              placeholder="Enter facility payments"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="facility_payments_notes"
              name="facility_payments_notes"
              value="{{#if record}}{{record.facility_payments_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Royalties -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              9. Royalties
            </label>
            <input
              type="number"
              id="royalties"
              name="royalties"
              value="{{#if record}}{{record.royalties}}{{/if}}"
              placeholder="Enter royalties"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="royalties_notes"
              name="royalties_notes"
              value="{{#if record}}{{record.royalties_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Contract Worker Payments -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              10. Contract Worker Payments
            </label>
            <input
              type="number"
              id="contract_worker_payments"
              name="contract_worker_payments"
              value="{{#if record}}{{record.contract_worker_payments}}{{/if}}"
              placeholder="Enter contract worker payments"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="contract_worker_notes"
              name="contract_worker_notes"
              value="{{#if record}}{{record.contract_worker_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Training Costs -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              11. Training Costs
            </label>
            <input
              type="number"
              id="training_costs"
              name="training_costs"
              value="{{#if record}}{{record.training_costs}}{{/if}}"
              placeholder="Enter training costs"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="training_costs_notes"
              name="training_costs_notes"
              value="{{#if record}}{{record.training_costs_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Protective Clothing Costs -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              12. Protective Clothing Costs
            </label>
            <input
              type="number"
              id="protective_clothing_costs"
              name="protective_clothing_costs"
              value="{{#if record}}{{record.protective_clothing_costs}}{{/if}}"
              placeholder="Enter protective clothing costs"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Notes (optional)
            </label>
            <input
              type="text"
              id="protective_clothing_notes"
              name="protective_clothing_notes"
              value="{{#if record}}{{record.protective_clothing_notes}}{{/if}}"
              placeholder="Enter additional notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Internet, Telephone & Water Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-2">
          <!-- Internet Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              13. (Dividend and Interest Payments)
            </label>
            <input
              type="number"
              id="dividend_interest_expenses"
              name="dividend_interest_expenses"
              value="{{#if record}}{{record.property_rental_expenses}}{{/if}}"
              placeholder="Input property rental expenses"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="property_rental_notes"
              name="property_rental_notes"
              value="{{#if record}}{{record.property_rental_notes}}{{/if}}"
              placeholder="Input property rental notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <!-- Telephone Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              (Taxes)
            </label>
            <input
              type="text"
              id="taxes"
              name="taxes"
              value="{{#if record}}{{record.taxes}}{{/if}}"
              placeholder="Input taxes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="taxes_notes"
              name="taxes_notes"
              value="{{#if record}}{{record.taxes_notes}}{{/if}}"
              placeholder="Input taxes notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <!-- Water Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              (Community Investment)
            </label>
            <input
              type="number"
              id="community_investment"
              name="community_investment"
              value="{{#if record}}{{record.community_investment}}{{/if}}"
              placeholder="Input community investment"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="community_investment_notes"
              name="community_investment_notes"
              value="{{#if record}}{{record.community_investment_notes}}{{/if}}"
              placeholder="Input community investment notes"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>


        <div class="flex gap-4 items-center px-4 py-3 mt-2">
          <div class="w-4/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              14. Supporting Documents
            </label>
            <input
              type="file"
              id="expenses_files"
              name="expenses_files"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>
        
      </div>

      <!-- Button Section -->
      <div class="flex justify-end gap-4 mt-7">

        <!-- Submit Button -->
        <button
          type="submit"
          class="px-8 py-2 text-base font-medium text-center text-white whitespace-nowrap bg-lime-500 rounded-xl hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-lime-500 focus:ring-offset-2 transition-colors"
        >
          Save
        </button>
      </div>

    </form>
  </section>
</main>

<style>
  /* Custom input styles */ input[type="number"]:focus, select:focus { border-color: #0f766e; outline-color: #0f766e; }
</style>