<main class="flex flex-col ml-48 self-center mt-16 w-full max-w-[1256px] max-md:mt-10 max-md:max-w-full">
  <header class="flex gap-3.5 self-start">
    <img
      src="https://api.builder.io/api/v1/image/assets/TEMP/a2c214fc5ad90d019c67cc350eaa8b5e4005560c?placeholderIfAbsent=true&apiKey=ac04cd396e1f47f18955cd19640f183d"
      alt="GRI Economic icon"
      class="object-contain shrink-0 my-auto rounded-full aspect-[1.04] w-[58px]"
    />
    <div class="flex flex-col">
      <h2 class="text-4xl font-semibold text-black">
        GRI Economic
      </h2>
      <p class="self-center text-xl font-medium leading-none text-center text-gray-500">
        Economic Performance - Pendapatan & Pengeluaran
      </p>
    </div>
  </header>

  <section class="flex flex-col items-start self-end px-20 py-14 mt-16 w-full bg-white rounded-2xl shadow-2xl max-w-[1168px] max-md:px-5 max-md:mt-10 max-md:max-w-full">
    <h3 class="text-3xl font-semibold text-center text-teal-700">
      Bagian 2: Data Pendapatan dan Pengeluaran
    </h3>
    <p class="mt-6 text-xl leading-none text-gray-500 max-md:max-w-full">
      Lengkapi data berikut untuk laporan pendapatan dan pengeluaran {{reporting_period}}.
    </p>

    <form action="/umkm/gri-2" method="POST" class="z-10 mt-14 max-w-full w-[1057px] max-md:mt-10">
      <input type="hidden" name="gri_id" value="{{gri_id}}" />
      <!-- Pendapatan Section -->
      <div class="w-full text-base max-md:mt-10 max-md:max-w-full">
  <h4 class="text-2xl font-semibold text-teal-700">
    A. Pendapatan
  </h4>

  <div class="flex gap-4 items-center px-4 py-3 mt-6">
    <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Total pendapatan/revenue selama periode ini
            </label>
            <input
              type="number"
      id="revenue"
      name="revenue"
      value="{{#if record}}{{record.revenue}}{{/if}}"
              placeholder="Masukkan jumlah biaya umum"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Keterangan (opsional)
            </label>
            <input
              type="text"
              id="revenue_notes"
              name="revenue_notes"
              value="{{#if record}}{{record.revenue_notes}}{{/if}}"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-4/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Masukkan Dokumen
            </label>
            <input
              type="file"
              id="revenue_files"
              name="revenue_files"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
  </div>
</div>


      <!-- Pengeluaran Section -->
      <div class="w-full text-base max-md:mt-10 max-md:max-w-full">
        <h4 class="text-2xl font-semibold text-teal-700 mt-10">
          B. Pengeluaran
        </h4>

        <!-- General & Administrative Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              1. General & Administrative Expenses (Biaya Umum dan Administrasi)
            </label>
            <input
              type="number"
              id="general_admin_expenses"
              name="general_admin_expenses"
              value="{{#if record}}{{record.general_admin_expenses}}{{/if}}"
              placeholder="Masukkan jumlah biaya umum"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Keterangan (opsional)
            </label>
            <input
              type="text"
              id="general_admin_notes"
              name="general_admin_notes"
              value="{{#if record}}{{record.general_admin_notes}}{{/if}}"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Salary Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              2. Salary Expenses (Gaji & Upah)
            </label>
            <input
              type="number"
              id="salary_expenses"
              name="salary_expenses"
              value="{{#if record}}{{record.salary_expenses}}{{/if}}"
              placeholder="Masukkan jumlah gaji dan upah"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Keterangan (opsional)
            </label>
            <input
              type="text"
              id="salary_employee_notes"
              name="salary_employee_notes"
              value="{{#if record}}{{record.salary_employee_notes}}{{/if}}"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Transportation Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              3. Transportation Expenses (Biaya Transportasi)
            </label>
            <input
              type="number"
              id="transport_expenses"
              name="transport_expenses"
              value="{{#if record}}{{record.transport_expenses}}{{/if}}"
              placeholder="Masukkan jumlah biaya transportasi"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Keterangan (opsional)
            </label>
            <input
              type="text"
              id="transport_notes"
              name="transport_notes"
              value="{{#if record}}{{record.transport_notes}}{{/if}}"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Fuel & Electricity Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-1/2">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              4. Fuel & Electricity Expenses (Bahan Bakar & Listrik)
            </label>
            <input
              type="number"
              id="fuel_expenses"
              name="fuel_expenses"
              value="{{#if record}}{{record.fuel_expenses}}{{/if}}"
              placeholder="Masukkan biaya bahan bakar"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          
            <input
              type="text"
              id="fuel_notes"
              name="fuel_notes"
              value="{{#if record}}{{record.fuel_notes}}{{/if}}"
              placeholder="Masukkan Keterangan bahan bakar"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/2 mt-8">
            <input
              type="number"
              id="electricity_expenses"
              name="electricity_expenses"
              value="{{#if record}}{{record.electricity_expenses}}{{/if}}"
              placeholder="Masukkan biaya listrik"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
           
            <input
              type="text"
              id="electricity_notes"
              name="electricity_notes"
              value="{{#if record}}{{record.electricity_notes}}{{/if}}"
              placeholder="Masukkan Keterangan listrik"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Internet, Telephone & Water Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <!-- Internet Expense -->
          <div class="flex-1">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              5. Internet, Telephone & Water Expenses (Internet)
            </label>
            <input
              type="number"
              id="internet_expenses"
              name="internet_expenses"
              value="{{#if record}}{{record.internet_expenses}}{{/if}}"
              placeholder="Masukkan biaya internet"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="internet_notes"
              name="internet_notes"
              value="{{#if record}}{{record.internet_notes}}{{/if}}"
              placeholder="Masukkan Keterangan internet"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <!-- Telephone Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              (Telepon)
            </label>
            <input
              type="text"
              id="telephone_expenses"
              name="telephone_expenses"
              value="{{#if record}}{{record.telephone_expenses}}{{/if}}"
              placeholder="Masukkan biaya telepon"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="telephone_notes"
              name="telephone_notes"
              value="{{#if record}}{{record.telephone_notes}}{{/if}}"
              placeholder="Masukkan Keterangan telepon"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <!-- Water Expense -->
          <div class="flex-1 mt-6">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              (Air)
            </label>
            <input
              type="number"
              id="water_expenses"
              name="water_expenses"
              value="{{#if record}}{{record.water_expenses}}{{/if}}"
              placeholder="Masukkan biaya air"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
            <input
              type="text"
              id="water_notes"
              name="water_notes"
              value="{{#if record}}{{record.water_notes}}{{/if}}"
              placeholder="Masukkan Keterangan air"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Other Operating Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              6. Other Operating Expenses (Biaya Operasional Lainnya)
            </label>
            <input
              type="number"
              id="other_operating_expenses"
              name="other_operating_expenses"
              value="{{#if record}}{{record.other_operating_expenses}}{{/if}}"
              placeholder="Masukkan jumlah biaya operasional lainnya"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Deskripsi singkat (opsional)
            </label>
            <input
              type="text"
              id="other_operating_notes"
              name="other_operating_notes"
              value="{{#if record}}{{record.other_operating_notes}}{{/if}}"
              placeholder="Masukkan deskripsi"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>

        <!-- Non-Operating Expenses -->
        <div class="flex gap-4 items-center px-4 py-3 mt-6">
          <div class="w-3/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              7. Non-Operating Expenses (Biaya Non-Operasional)
            </label>
            <input
              type="number"
              id="non_operating_expenses"
              name="non_operating_expenses"
              value="{{#if record}}{{record.non_operating_expenses}}{{/if}}"
              placeholder="Masukkan biaya non-operasional"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
          <div class="w-1/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              Deskripsi singkat (opsional)
            </label>
            <input
              type="text"
              id="non_operating_notes"
              name="non_operating_notes"
              value="{{#if record}}{{record.non_operating_notes}}{{/if}}"
              placeholder="Masukkan deskripsi"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>
        <div class="flex gap-4 items-center px-4 py-3 mt-2">
          <div class="w-4/4">
            <label class="block pb-2 w-full font-medium text-neutral-900 max-md:max-w-full">
              8. Masukkan Dokumen Pengeluaran
            </label>
            <input
              type="file"
              id="expenses_files"
              name="expenses_files"
              placeholder="Keterangan"
              class="w-full px-8 py-4 mt-2 text-base text-black rounded-2xl border-gray-300 border border-solid bg-slate-50 placeholder-black/50 outline-none hover:ring focus:ring-2 focus:ring-teal-600 transition"
            />
          </div>
        </div>
        
      </div>

      <!-- Button Section -->
      <div class="flex justify-end gap-4 mt-7">
        <!-- Previous Button -->
        <button
          type="button"
          onclick="window.history.back()"
          class="px-8 py-2 text-base font-medium text-center text-teal-700 border-teal-700 border border-solid whitespace-nowrap bg-white rounded-xl hover:bg-teal-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition-colors"
        >
          Sebelumnya
        </button>

        <!-- Submit Button -->
        <button
          type="submit"
          class="px-8 py-2 text-base font-medium text-center text-white whitespace-nowrap bg-lime-500 rounded-xl hover:bg-lime-600 focus:outline-none focus:ring-2 focus:ring-lime-500 focus:ring-offset-2 transition-colors"
        >
          Simpan
        </button>
      </div>

    </form>
  </section>
</main>

<style>
  /* Custom input styles */ input[type="number"]:focus, select:focus { border-color: #0f766e; outline-color: #0f766e; }
</style>